.App {
  height: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  justify-items: center;
  align-items: center;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 4rem;
  padding-bottom: 12rem;
  background-color: #a41a18;
}

.luke-side {
  background-color: #a41a18;
  color: white;

  p {
    margin-bottom: 2rem;
  }

  img {
    border: 5px solid black;
  }

}

a.link-luke:hover {
  text-decoration: none;
}

.header {
  display: flex;

  img {

  }
}

div[class^="nummer-"] {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


.nummer-even {
  color: black;
  font-size: 8rem;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.nummer-even-disabled {
  color: black;
  font-size: 8rem;
}

.nummer-odd-disabled {
  color: #f9f9f9;
  font-size: 8rem;
}

.nummer-even:hover {
  color: #f9f9f9;
}

.nummer-odd {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: #f9f9f9;
  font-size: 8rem;
}

.nummer-odd:hover {
  color: black;
}

.post-element {
  height: 200px;
  width: 200px;
}

.even {
  background-color: #f9f9f9;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.even:hover {
  color: #f9f9f9;
  background-color: black;
}

.odd {
  background-color: black;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.odd:hover {
  background-color: #f9f9f9;
}

.title {
  padding: 1rem;
}

.luke-side {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.oppgavetekst {
  width: 500px;
  margin: 0 auto;
}

#løsning {
  color: black;
  width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
}
.løsningwrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.notfound {
  color: white;
  margin-top: 4rem;
}

#solutionButton {
  background-color: black;
  border-color: black;
}